* {
  all: unset;
  // font: Iosevka Term SS14;
  // font-size: 12px;
}

.bar-modules {
  background-color: transparent;
}

.bar-modules-right {
  background-color: #000000;
}
.bar-modules-center {
  background-color: #000000;
}
