/* <-- Base16 Colors --> */
/* Start flavours */
@define-color base00 #000000;
@define-color base01 #0f0f0f;
@define-color base02 #121212;
@define-color base03 #222222;
@define-color base04 #333333;
@define-color base05 #cacaca;
@define-color base06 #e7e7e7;
@define-color base07 #f0f0f0;
@define-color base08 #ac8a8c;
@define-color base09 #b99c95;
@define-color base0A #aca98a;
@define-color base0B #8aac8b;
@define-color base0C #8aabac;
@define-color base0D #8f8aac;
@define-color base0E #ac8aac;
@define-color base0F #ac8a8c;
/* End flavours */

#ironbar.background {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#bar.container,
#ironbar.background {
  /* border: solid 3px @base03; */
  font-family:
    "strandedttf",
    JetBrainsMono Nerd Font,
    Noto Sans CJK Regular,
    sans;
  font-weight: normal;
  background-color: @base00;
  color: @base04;
  font-size: 16px;
}

#bar #start,
#bar #center,
#bar #end {
  background-color: @base00;
}

.separator {
  margin: 0px 10px;
  color: @base02;
}

.popup {
  font-family:
    desertedttf,
    BlexMono Nerd Font,
    sans;
  font-weight: normal;
  font-size: 16px;
  margin: 6px;
  padding: 25px;
  border: 1px solid @base03;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* -- Clock -- */
.clock {
  font-weight: normal;
  font-family: groundedttf;
  background-color: @base08;
  color: @base00;
  border-radius: 0px 0px 0px 0px;
  margin: 4px 4px 4px 0px;
  padding: 0px 12px;
}

.popup-clock .calendar-clock {
  color: @base08;
  margin-bottom: 20px;
  font-family: groundedttf;
  font-size: 32px;
}

.popup-clock .calendar {
  color: @base05;
  font-size: 16px;
  padding: 6px;
}

/* -- Upower -- */
.upower {
  font-weight: normal;
  background-color: @base00;
  color: @base04;
  border: 1px solid @base03;
  border-radius: 0px 0px 0px 0px;
  border-right: none;
  margin: 4px 0px 4px 4px;
  padding: 0px 12px;
}

/* -- Power menu widget -- */
#power-button {
  margin: 4px 0px 4px 4px;
  padding: 0px 17px 0px 13px;
  border-radius: 0px;
  background-color: @base0A;
  color: @base00;
}

#header {
  font-family: beachedttf;
  font-size: 20px;
  margin: 25px 0 10px 25px;
}

/* -- Workspaces -- */
.workspaces {
  all: unset;
  font-family: beachedttf;
  background-color: @base00;
  border: 1px solid @base02;
  border-radius: 0px;
  margin: 4px 0px 4px 0px;
}

.workspaces .item {
  all: unset;
  border-radius: inherit;
  font-size: 14px;
  background-color: transparent;
  padding: 0px 13px;
}

.workspaces .visible {
  color: @base05;
}

.workspaces .focused {
  padding: 0px 30px;
  background-color: @base01;
}

.workspaces .inactive {
  color: @base02;
}

.workspaces .item:hover {
  background-color: @base01;
}
