/**
 * @name Biscuit Dark
 * @description Cozy warm colorscheme for the forest dwellers, Dark!
 * @author Tsukki
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css");

:root {
  /* Start flavours */
  --accentcolor: 117, 109, 148;
  --accentcolor2: 174, 63, 130;
  --linkcolor: 118, 143, 128;
  --mentioncolor: 227, 156, 69;
  --textbrightest: 255, 233, 199;
  --textbrighter: 255, 233, 199;
  --textbright: 255, 233, 199;
  --textdark: 220, 201, 188;
  --textdarker: 156, 129, 129;
  --textdarkest: 156, 129, 129;
  --backgroundaccent: 34, 34, 34;
  --backgroundprimary: 0, 0, 0;
  --backgroundsecondary: 10, 10, 10;
  --backgroundsecondaryalt: 18, 18, 18;
  --backgroundtertiary: 0, 0, 0;
  --backgroundfloating: 18, 18, 18;
  --settingsicons: 1;
  /* End flavours */
  --font: Titillium, Google Sans, Noto Sans CJK Regular, Noto Color Emoji,
    BlexMono Nerd Font;
}

/* Any custom CSS below here */
